- Purpose: Data Imputation
- Efficient method of advanced imputation
- Replace missing values as the average  of the past and next value for the particular feature, by group.

In [61]:
import pandas as pd 
import numpy as np

(200, 5)

In [59]:
df = pd.read_csv('Mall_Customers.csv')

In [78]:
df.groupby(['Gender']).count()

# currupt data by adding blanks in Annual Income (k$)
    # https://stackoverflow.com/questions/54330454/randomly-introduce-nan-values-in-pandas-dataframe
        
# def input_nan (df, percent_na):
#     n = int(len(df)*(percent_na - df.isna().mean()))
# #     print(n)
#     idxs = np.random.choice( len(df), max(n,0), replace=False,
#                             p = df.notna() / df.notna().sum())
#     df.iloc[idxs] = np.nan

# df(input_nan, percent_na=.20)

        CustomerID  Age  Annual Income (k$)  Spending Score (1-100)
Gender
Female         112  112                 112                     112
Male            88   88                  88                      88

In [55]:
# https://stackoverflow.com/questions/51884792/pandas-insert-blank-row-for-each-group-in-pandas

# METHOD 1
df1 = df[:40]


out = df1.groupby('Gender').apply(
    lambda d: d.append({'Gender': d.name}, ignore_index=True).astype(
        {'Gender': str})).reset_index(drop=True)

out;

In [56]:
# METHOD 2
df2 = df[:40]

df2 = df2.groupby('Gender')
out = pd.concat([i.append({'SEPARATOR': 'BREAK POINT'}, ignore_index=True) for _, i in df2])
out.group = out['Gender'].ffill().astype(str)

out;

C:\Users\09ale\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """

In [79]:
# Add new column
# fill Annual Income (k$) as the average of the next and past value
# drop Separator column 
#